<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
    <link rel="stylesheet" href="bootstrap/css/style.default.css" id="theme-stylesheet">
</head>
<body>
<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>验证密保问题</h1>
                            </div>
                            <p>淘小菜网购系统</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form method="post" action="/signAndLogin/findPassword" class="form-validate" id="loginFrom">
                                <div class="form-group">
                                    <input id="login-account" type="text" name="account" required data-msg="请输入账号" placeholder="请输入您的账号" class="input-material">
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <select id="selectedCourse" name="securityQuestion" class="form-control"  style="width:480px;height:50px; ">
                                            <option value="" disabled selected>请选择您的密保问题</option>
                                            <option value="您母亲的姓名是什么？">您母亲的姓名是什么？</option>
                                            <option value="您父亲的出生地是哪里？">您父亲的出生地是哪里？</option>
                                            <option value="您最喜欢的宠物的名字是什么？">您最喜欢的宠物的名字是什么？
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="login-password" type="text" name="securityAnswer" required data-msg="请输入密保答案" placeholder="请输入您的密保答案" class="input-material">
                                </div>
                                <button id="login" type="submit" class="btn btn-primary">确认提交</button>
                            </form>
                            <br />
                            <small>想起密码?</small><a href="login.html" class="signup">&nbsp;登录</a>
                            <br/> <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="https://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="vendor/jquery-validation/jquery.validate.min.js"></script><!--表单验证-->
<!-- Main File-->
</body>
</html>